.result{
    text-align: center;
    border: 1px solid;
    border-radius: 1em;
    background: khaki;
    width: fit-content;
    padding: 2em;
    border: none;
    margin: auto;
    margin-top: 1em;
    box-shadow: 10px 10px 5px black;
}
.result .p1 ,.p2 ,.p3{
   color: black;
}
.result .p1{
    font-size:x-large;
    color: green;
    margin-top: auto;
}
.result .p2,.p3{
    font-size: x-large;
}
