*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    padding: 1em;
}
nav li{
    width: fit-content;
}
ul{
    list-style: none;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

nav .buynowBtn{
    border:1px solid green;
    background-color: green;
    padding: 1rem;
    border-radius: 1em;
    margin-left: 67em;
}

/* div .image{
    width: 100%;
    margin-top: -1em;
} */

@media only screen and (max-width:600px){
    nav .buynowBtn{
        margin-left: 4em;
    }
}

@media only screen and (min-width:600px){
    nav .buynowBtn{
        margin-left: 32em;
    }
}

@media only screen and (min-width:1024px){
    nav .buynowBtn{
        margin-left: 65em;
    }
}